
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494815335650'); /* IE9*/
  src: url('iconfont.eot?t=1494815335650#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494815335650') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494815335650') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494815335650#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e648"; }

.icon-mp-return:before { content: "\e660"; }

.icon-shanchu:before { content: "\e63e"; }

.icon-xuanze:before { content: "\e68d"; }

.icon-iconfontfanhui3:before { content: "\e78d"; }

.icon-shouqi:before { content: "\e667"; }

.icon-zhankai:before { content: "\e63c"; }

.icon-xuanze1:before { content: "\e63b"; }

.icon-shouji:before { content: "\e600"; }

.icon-node_end:before { content: "\e618"; }

.icon-bplus:before { content: "\e650"; }

.icon-xiaoren:before { content: "\e63d"; }

.icon-Multiselect:before { content: "\e606"; }

.icon-liuyan:before { content: "\e638"; }

.icon-duoxuan2:before { content: "\e7e5"; }

.icon-zhankai1:before { content: "\e623"; }

.icon-daochu:before { content: "\e664"; }

.icon-liuyan1:before { content: "\e64f"; }

.icon-search:before { content: "\e601"; }

.icon-xuanze3:before { content: "\e67b"; }

.icon-zhongxinzuoti:before { content: "\e61e"; }

.icon-liuyan1{color: #46cdbf;font-size: 18px;}
.icon-liuyan{color:#7ecef4;font-size: 18px;}
.icon-shouji{color: #F38828;font-size: 18px;}
.icon-zhongxinzuoti {color: #3DADB3;font-size: 18px;}
.icon-daochu{color: #FDAA32;font-size: 18px;}
.icon-node_end{color: #FD9669;font-size: 18px;}
.icon-shouqi,.icon-iconfontfanhui3{color: #7AB0E3;font-size: 14px;}
.icon-zhankai,.icon-zhankai1{color: #7AB0E3;font-size: 20px;}
.icon-search{color: #fff;font-size: 20px;}
.icon-mp-return{color: #68A5DF;}
.icon-bianji{color: #68A5DF;font-size: 18px;}
.icon-shanchu{color: #FD7F92;font-size: 14px;}